
*,
*::before,
*::after {
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
}
:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

.input {
  font-size: 16px;
  font-size: Max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1rem;
  transition: 180ms box-shadow ease-in-out;
}
.employee-name{
  font-size: 1.3rem;
  color: #041705;
  text-transform: capitalize;
}
.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}


label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.input + label {
  margin-top: 20rem !important;
}


.button{
  outline: none;
  padding: 0.8rem 2.5rem;
  width: 100%;
  display: block;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;

  box-shadow: none;

  transition: .2s ease all;
  text-transform: capitalize;
  background-color: tomato;
}
.button:disabled{
  background-color: rgba(158, 158, 158, 0.418) !important;
}

